/* .gg{
    text-align: end;
}
.james{
    text-align: end;
}
.charles{
    text-align: end;
}
.mike{
    text-align: end;
}
.jude{
    text-align: end;
} */
/* .john{
    width: 5%;
} */
/* .peter{
    margin-left: 600px;
} */
/* .ki{
    margin-left: 600px;
} */
/* .li{
    width: 5%;
}
.lo{
    width: 5%;
}
.ko{
    width: 5%;
} */
/* .mi{
    margin-left: 600px;
}
.hi{
    margin-left: 600px;
} */
.sidebar{
    background-color: aquamarine;
    height: 95vh;
}
/* .fullbar{
    background-color: cadetblue;
} */
.allitems{
    height: 100%;
    width: 50%;
    background-color: aquamarine;
    margin-left: 20%;
}
.pie{
    margin-right: 10px;
    float: right;
}
input{
    width: 20px;
}
.peter{
    margin-right: 40%;
}
.pet{
    margin-right: 80%;
    height:50px ;
}
nav{
    background-color:honeydew;
}


